.my-col {
  border: solid;
  height: 200px;
  margin: 10px;
}

.my-col-description{
  border: solid red;
  height: 200px;
}

.my-col-img{
  border: solid red;
  height: 200px;
  padding: 0;
}

.img-cover{
  height: 100%;
  width: 100%;
}

.title{
  color: #444;
  font-weight: 600;
  font-size: 18px;
  line-height: 16px;
}

.author{
  color: #999;
  font-size: 14px;
}

.description {
  font-size: 12px;
  line-height:14px;
}

/* .outer-container {
  background-color: #f7f6f3;
} */

.container {
  background-color: white;
}

/* Form for /stories/new */
.form-container {
  background: darkgray;
  margin: 50px;
  border-radius: 5px;
  border: black 2px solid;
  padding: 10px;
}
.form-background {
  background-color: lightskyblue;
  border: solid 1px black;
  border-radius: 5px;
  margin: 10px;
  margin-top: 6px;
}
.story-create-btn {
  background: lightgray;
  border-radius: 2px;
  border: black 2px solid;
  margin: 10px;
  margin-top: 15px;
  margin-left: 495px;
  padding: 3px;
}
.form-title {
  padding: 3px;
  margin-left: 300px;
}
.story-form-text {
  width: 400px;
}
#enter_title {
  margin-left: 80px;
}
#enter_description {
  margin-left: 28px;
}
#insert_image {
  margin-left: 30px;
}

.story-form-checkbox {
  margin: 10px;
}