i.like{
  color: #D3D3D3;
}

i.unlike{
  color: red;
}

i.like:hover {
  color: red;
}

i.unlike:hover{
  color: #D3D3D3;
}

.image {
  height:200px;
  width: 200px;
}

.eachStory{
  background-color: #F2F2F2 ;
}

div:focus{
  color:steelblue;
  outline: none;
}


.createdAt-readpage{
  color: grey;
  font-size: 13px;
}

.feedback-div{
  word-wrap: break-word;
}

.feedback-name{
  font-weight: 600;
}

.feedback-text{

}

.readpage-header{

}

.title-readpage{
  font-size: 30px;
}

.likes-readpage{
  float: right;
  font-size: 28px;
}

.uni-heart-read{
  float: right;
  margin-right: 12px;
  font-size: 30px;
}

.selectedSegment{

}

.feedback-area{
  background-color: #F2F2F2;
  border-radius: 10px;
}

.textarea-feedback{
  margin:15px;
  width: 319px;
  height: 120px;
}

.commentButton-feedback{
  background-color: #D3D3D3;
  color:#585858;
  margin-left: 15px;
}


.commentButton-feedback:hover{
  color:grey;
  background-color: white;
}