i.like{
  color: #D3D3D3;
}

i.unlike{
  color: red;
}

i.like:hover {
  color: red;
}

i.unlike:hover{
  color: #D3D3D3;
}

.image {
  height:200px;
  width: 200px;
}

.eachStory{
  background-color: #F2F2F2 ;
}

/*.selectedSegment:active {
  color:red;
}*/

/*.selectedSegment:active {
  color: red;
}
.selectedSegment:focus {
  color: red;
}*/
div:focus{
  color:steelblue;
  outline: none;
}