i.like{
  color: #D3D3D3;
}

i.unlike{
  color: red;
}

i.like:hover {
  color: red;
}

i.unlike:hover{
  color: #D3D3D3;
}

.storyPage-hr {
  margin-right: 25px;
}

.readMe{
  margin-left: 100px;
  background-color: #D3D3D3;
  color: #585858;
}

.likes-storypage{
  float: left;
  font-size: 28px;
}

.storypage-commentButton{
  background-color: #D3D3D3;
  color:#585858;
  margin-left: 410px;
}

.storypage-commentButton:hover{
  color:grey;
  background-color: white;
}

.navToRead{
  color: #585858;
}

.storypage-header{
padding: 10px;
word-wrap: break-word;
}

.storyPage-img{

}

.img-cover{
}

.storyPage-description{

}

.storyPage-author{

}

.storyPage-inner-description{

}

.storyPage-genre{
font-weight: 600;
}

.readMe:hover{
background-color:white;
}

.readMe:hover .navToRead{
  /*border-width: 4px;*/
  color: grey;
}

.eachStory-description{
  word-wrap: break-word;
  /*white-space: nowrap;*/
  overflow: hidden;
  text-overflow: ellipsis;
}

.eachStory-innerDescription{
  height: 145px;
  word-wrap: break-word;
  /*white-space: nowrap;*/
  overflow: hidden;
  text-overflow: ellipsis;
}

.comments-onStorypage{
  word-wrap: break-word;
  width: 1000px;

}

.comments-story-page{

}

.uni-heart{
font-size: 30px;
margin-left: 15px;
}

.comments-textarea-storypage{

}

.comments-textarea-storypage{

}

.commentName-storypage{

}


.comments-story-page{
  padding: 20px;
}

.commentText-storypage{
width: 1000px;
}

.createdAt-storypage{
font-size: 13px;
color: grey;
}